<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">
    <img class="card-image" mat-card-image src="{{poster}}" alt="{{title}}"
      onError="this.src='../../../../assets/images/placeholder.jpg'">
  </div>

  <mat-card-content>
    <ng-content>

    </ng-content>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button (click)="eventDetalhe()" mat-button> <i class="fa fa-align-center"></i> Detalhes</button>
  </mat-card-actions>
</mat-card>
