<div class="container">
  <form [formGroup]="formGroup" class="search-form">
    <mat-form-field class="search-input">
      <input formControlName="titulo" matInput placeholder="Titulo">
    </mat-form-field>

    <mat-form-field class="search-input">
      <input formControlName="ano" matInput #ano maxlength="4" placeholder="Ano">
    </mat-form-field>

    <button (click)='search()' class="search-button">Pesquisar</button>
  </form>

  <div *ngFor="let movie of movieList">
    <app-card  title="Title" subtitle="Subtitle" description="Nota:x/x"></app-card>
  </div>
</div>
