<div class="container">

  <div [formGroup]="formGroup" class="search-form">
    <mat-form-field class="search-input">
      <input formControlName="titulo" matInput placeholder="*Titulo">
    </mat-form-field>
    <mat-form-field class="search-input">
      <input formControlName="ano" matInput #ano pattern="\d*" maxlength="4" placeholder="Ano" type="number">
    </mat-form-field>

    <button (click)='search()' class="search-button">Pesquisar</button>
  </div>


  <div>
    <div id="movie" *ngFor="let movie of movieList">
      <app-card class="movie-card" title="{{movie.Title}}" subtitle="{{movie.Year}}" description="{{movie.imdbRating}}"
        poster="{{movie.Poster}}"></app-card>
    </div>
  </div>
</div>
